<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Property List Tools</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.6, Copyright 2004-2006 Late Night Software Ltd.  All Rights Reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.latenightsw.plisttools</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.6</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CFBundleVersion</key>
	<string>1.0.6</string>
	<key>CSResourcesFileMapped</key>
	<false/>
	<key>NSAppleScriptEnabled</key>
	<true/>
</dict>
</plist>
